@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
h1{
    color: brown;
    background-color: aqua;
    align-content: center;
}
.a1{
    text-align: right;
     color: blue;
}
hr
{
    color: blueviolet;

}
div{
    background-color: aqua;
    height: 200px;
    width: 200px;
    border: solid yellow 2px;
    margin-right: 200px;
    padding-bottom: ;
}
.c1{
    color: blueviolet;
}
button{
    size-adjust: 20px;
}
p{
    font-size: x-large;
    color: blueviolet;
    text-align: center;
    
}

